@page "/angle"
<div class="container-fluid">
    <PageHeader Title="Angle" Link="/angle"></PageHeader>
    <GenericConverter CurrentUnitCategory="@Category"></GenericConverter>
</div>
@functions {
UnitCategory Category = UnitCategory.Angle;
}