@page "/speed"
<div class="container-fluid">
    <PageHeader Title="Speed" Link="/speed"></PageHeader>
    <GenericConverter CurrentUnitCategory="@Category"></GenericConverter>
</div>
@functions {
UnitCategory Category = UnitCategory.Speed;
}