<header class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="@Link">@Title</a>
</header>
@functions
{
    [Parameter] protected string Title { get; set; }
    [Parameter] protected string Link { get; set; }
}