@page "/length"
<div class="container-fluid">
    <PageHeader Title="Length" Link="/length"></PageHeader>
    <GenericConverter CurrentUnitCategory="@Category"></GenericConverter>
</div>
@functions {
    UnitCategory Category = UnitCategory.Length;
}