@page "/area"
<div class="container-fluid">
    <PageHeader Title="Area" Link="/area"></PageHeader>
    <GenericConverter CurrentUnitCategory="@Category"></GenericConverter>
</div>
@functions {
UnitCategory Category = UnitCategory.Area;
}